<header class="navbar navbar-fixed-top navbar-light bg-danger">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <div class="navbar-header">
          <%= link_to admin_root_url do %>
            <div id="logo">
              <span class="glyphicon glyphicon-book"></span>
              <span class="glyphicon glyphicon-flag"></span>
              <span><%= t ".lms_admin" %></span>
            </div>
          <% end %>
        </div>
      </li>
      <li class="active">
        <%= link_to root_url do%>
          <%= t ".back_to" %>
          <span class="glyphicon glyphicon-book"></span>
          <span><%= t ".lms" %></span>
        <% end %>
      </li>

      <li><%= link_to t("admin.menu.users"), "#" %></li>
      <li><%= link_to t("admin.menu.books"), "#" %></li>
      <li><%= link_to t("admin.menu.borrow_requests"), admin_borrow_requests_path %></li>
      <li><%= link_to t("admin.menu.authors"), "#" %></li>
      <li><%= link_to t("admin.menu.publishers"), "#" %></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if logged_in? %>
        <li class="dropdown">
          <%= link_to "#", {class: "dropdown-toggle", data: {toggle: :dropdown}} do %>
            <%= t dropdown_title %>
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t(".profile"), current_user %></li>
            <li><%= link_to t(".borrow_requests"), borrow_requests_path %></li>
            <li class="divider"></li>
            <li>
              <%= link_to t(".log_out"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <li>
          <%= link_to signup_path do %>
            <span class="glyphicon glyphicon-user"></span> <%= t "global.menu.signup" %>
          <% end %>
        </li>
        <li>
          <%= link_to login_path do %>
            <span class="glyphicon glyphicon-log-in"></span> <%= t "global.menu.login" %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</header>
